## Github
# {org/repo}
REPO=org/repo
# In most cases, master or main
BASE_BRANCH=master

## Jira
API_TOKEN=
EMAIL=user@gmail.com
# Jira org url
JIRA_URL=https://company.atlassian.net
LOG_PATH="$HOME/scripts/jiraSummaries/saved_summary.log"
# A text file with a list of the keys you want to watch
WATCHED_KEYS="$HOME/scripts/jiraSummaries/watched_keys.txt"

## Custom Wallpaper
LOG_PATH="$HOME/scripts/dynamicWallpaper/wallpaper.log"
# Path to the current image displayed on the desktop
OUTPUT="$HOME/scripts/dynamicWallpaper/current_wallpaper"
# Directory to save downloaded wallpaper images
WALLPAPER_DIR="$HOME/scripts/dynamicWallpaper/wallpaperImages"
API_KEY=
# {{city name},{country code}}
CITY=Tampa,US
# Log path for launch agent
AGENT_LOG_PATH=/Users/user/scripts/dynamicWallpaper/wallpaper.log
ERROR_LOG_PATH=/Users/user/scripts/dynamicWallpaper/wallpaper_error.log
# Path to the wallpaper script (used in the launch agent)
SCRIPT_PATH=/Users/user/scripts/dynamicWallpaper/dynamic_wallpaper.sh
# Launch Agent name
AGENT_NAME=com.user.dynamic_wallpaper